.buttonStyle{
    background-color: transparent;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.fullHeart{

}

.emptyHeart{

}