 /* Основной контейнер профиля */

.profileContainer {
    width: 40%;
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}


.profileContainer h2 {
    margin: 0 0 25px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

/* Поля профиля */
.profileField {
    margin-bottom: 15px;
}

.profileField label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.profileField input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Кнопки */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
   background-color:  #007bff;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Кнопка логаута с отступом */
.logoutButton {
    margin-bottom: 50px;
}

/* Модальное окно */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 400px;
}

/* Группы формы */
.formGroup {
    margin-bottom: 15px;
}

/* Кнопка отправки и отмены в модальном окне */
.modalContent button {
    padding: 10px 15px;
    border-radius: 4px;
}

/* Детали профиля */
.userDetails {
    margin-bottom: 20px;
}

/* Размещение кнопок в столбик */
.actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Отступ между кнопкой логаута и избранными станциями */
.favoriteStations {
    margin-top: 50px;
}
