.password-form-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.password-change-form{
    display: flex;
    flex-direction: column;
}
.form-group{
    margin-bottom: 15px;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
input{
    padding: 8px;
    background-color: rgb(178, 227, 172);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    cursor: auto;
}
button{
    padding: 10px;
    background-color: rgba(70, 149, 73, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
button:hover{
    background-color: rgba(76, 175, 79, 1);
    cursor: pointer;
}

button:disabled{
    background-color: #ccc;
}

