.profileContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .profileContainer h2 {
    margin: 40px 0 30px 0;
    color: #333;
    font-weight: bold;
  }
  
  .profileField {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
  }
  
  .links {
    margin-top: 5px; 
  }
  
  .links a {
    color: rgb(70, 149, 73);
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  