.volume-control {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  .volume-icon {
    font-size: 16px;
  }
  
  .volume-slider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    display: none; /* Ползунок скрыт по умолчанию */
    width: 32px;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .volume-control:hover .volume-slider {
    display: block; /* Показываем ползунок при наведении */
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    transform: rotate(-90deg); /* Повернуть ползунок на 90 градусов */
    transform-origin: center;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
  }
  