.stationPage {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.99);
  padding: 20px;
  min-height: calc(100vh - 150px);
  /* height:calc(100vh-88px); */
}

.stationPageItem {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgContainer {
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  width: 200px;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stationIcon {
  aspect-ratio: 1 / 1;
  width: 200px;
  max-width: 200px;
  object-fit: contain;
  margin-bottom: 40px;
  border-radius: 8px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.favoriteHeartContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 30px;
}

.stationInfo {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
}

.stationName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.stationCountryLanguage {
  font-size: 1rem;
  color: #777;
}

.stationTags {
  font-size: 0.9rem;
  color: #999;
  margin-top: 5px;
}

.stationRating {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}

.stationVotes {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}

.stationClicks {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}
