.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #1e1f20;
    padding: 2px;
    color: white;
  }
  
  .main {
    flex: 1;
    padding: 20px;
  }
  
  .footer {
    background-color: #282c34;
    padding: 10px;
    color: white;
    text-align: center;
  }