* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: dimgray;
}

.main {
  flex: 1;
  width: 80%;
}
