.profileContainer {
    width: 40%;
    max-width: 800px;
    margin: 100px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #e0e0e0;
    margin-top: 100px;
    margin-bottom: 50px;

}

.profileContainer h2 {
    margin: 0 0 25px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.profileField {
    margin-bottom: 15px;
    display: flex; 
    align-items: center; 
}

.profileField label {
    font-weight: bold;
    margin-right: 10px; 
    color: #555;
    white-space: nowrap; 
}

.profileField .profileValue {
    color: #333; 
}

.button {
  margin: 5px;
  padding: 10px 20px; 
  width: 150px; 
  height: 40px;
  background-color: rgb(183, 183, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button:hover {
    background-color: rgb(223, 223, 252);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.logoutButton {
    margin-bottom: 50px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.formGroup {
    margin-bottom: 15px;
}

.modalContent button {
    padding: 10px 15px;
    border-radius: 4px;
}

.userDetails {
    margin-bottom: 20px;
}

.actions {
    display: flex; 
    justify-content: flex-start; 
    gap: 15px; 
}

.favoriteStations {
    margin-top: 50px;
}
