.stationItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
}
.imgContainer {
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-height: fit-content;
  padding: 0;
  margin: 0;
  position: relative;
}

.stationIcon {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 8px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
}

.stationIcon:hover {
  box-shadow: rgba(76, 175, 79, 0.7) 0px 0px 20px 0px;
  transition: box-shadow 0.1s linear;
  cursor: pointer;
}
.favoriteHeartContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 30px;
}

.stationInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 10px;
  white-space:inherit;
  overflow:hidden;
  text-overflow: ellipsis;
}
.stationName {
  font-size: 13px;
  text-align: start;
  white-space: initial;
  overflow: hidden;
  text-overflow: unset;
  width: 100%;
  margin-top: 10px;
}

.stationCountryLanguage {
  font-size: 12px;
  margin-top: 5px;
}
.stationLanguage{
  color: rgb(75, 75, 75);
}

.stationTags {
  font-size: 12px;
  color: rgb(75, 75, 75);
  margin-top: 5px;
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}
