.favoriteHeartContainer {
  position: relative;
}
.stationItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.stationIcon {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.stationName {
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
