.nav {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    padding: 0; 
  }
  
  .navList {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    display: flex; 
  }
  
  .navItem {
    margin-right: 20px;
  }
  
  .navLink {
    display: block; 
    padding: 1px; 
    color: #ffffff; 
    text-decoration: none; 
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
  }
  
  .navLink:hover {
    color: #00ff00; 
    border-bottom-color: #00ff00; 
  }
  
  .topLine, .bottomLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rightAligned {
    margin-left: auto;
  }

  .searchInput {
    background-color: transparent; 
    border: 1px solid #ffffff; 
    border-radius: 20px; 
    color: #ffffff; 
    padding: 4px, 10px;
    font-size: 12px;
    width: 200px; 
   
  }
  
  .searchInput::placeholder {
    color: rgba(255, 255, 255, 0.7); 
  }
  
  .header {
    background-color: #1e1f20;
    color: white;
    padding: 5px 2.5rem;
    font-size: 15px;
  }
  
  .separator {
    height: 1px; 
    width: 100%;
    background-color: #50cd32;
  }
  
  .topLine, .bottomLine {
    padding: 5px 0;
  }
 

  