.header {
  background-color: rgb(30, 31, 32);
  color: white;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 100;
  z-index: 1000;
}

.topLine,
.bottomLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  padding: 5px;
  max-width: 100%;
}

.logo {
  height: 36px;
  margin-top: 2px;
}

/* .activeStationWrapper{

} */
.separator {
  height: 1px;
  max-width: 100%;
  background-color: rgba(76, 175, 79, 1);
  margin-left: 5px;
  margin-right: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  
}

.navItem {
  margin-right: 20px;
  position: relative;
  display: flex;
}

.navLink {
  display: inline-block;
  padding: 1px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  z-index: 500;
}

.navLink svg {
  margin-right: 5px;
}

.navLink:hover {
  color: rgba(76, 175, 79, 1);
}

.navLink:hover svg {
  fill: rgba(76, 175, 79, 1);
}

.rightAligned {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.filterDropdown {
  position: fixed;
  top: 60px;
  left: 0px;
  background-color: rgba(30, 31, 32, 1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: flex-start;
  align-items: flex-start;
  align-content: baseline;
}

.headerFilterButton {
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  color: white;
  margin: 20px;
  text-align: left;
  border: none;
  max-height: 30px;
  white-space: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}
.headerTopStationButton {
  width: 60px;
}

.headerFilterButton:hover {
  color: rgba(76, 175, 79, 1);
  cursor: pointer;
}

.searchInput {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 10px;
  font-size: 12px;
  width: 200px;
  height: 22px;
  z-index: 1001;
  min-width: 60px;
}

.searchInput::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1200px) {
}
@media (max-width: 1000px) {
}
@media (max-width: 760px) {
  .navItem{
    margin-right: 0.8rem;
  }
  .searchInput {
    max-width: 200px;
    width: 20vw;
    min-width: 80px;
  }
}
@media (max-width: 480px) {
  .profileSvg {
    width: 22px;
    height: 22px;
  }
  .searchInput {
    max-width: 200px;
    width: 20vw;
  }
  .navLink{
    font-size: 0.75rem;
  }
  .navItem{
    margin-right: 0.3rem;
  }
  .profileLink {
    font-size: 0;
  }
}
