.activePlayedHeader {
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  gap: 10px;
  box-sizing: border-box;
  width:fit-content;
}

.stationIcon {
  display: block;
  box-sizing: border-box;
  height: 42px;
  margin: 1px;
}
.playPauseButton {
  display: block;
  background-color: transparent;
  background: none;
}
.volumeButton {
  margin-top: 9px;
}
.stationName {
  font-weight: 100;
  min-width: 100px;
  max-height: 44px;
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (max-width: 480px) {
  .stationName{
    font-size: 0.8rem;
    width: 50%;
  }
}
