.activePlayedHeader {
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-left: 20px;
  gap: 10px;
  box-sizing: border-box;
}

.stationIcon {
  display: block;
  box-sizing: border-box;
  height: 42px;
  margin: 1px;

}
.playPauseButton {
  display: block;
  background-color: transparent;
  background: none;
}
.volumeButton {
    margin-top: 9px;
}
.stationName {
    font-weight: 100;
}
