.loginForm{
    width: 40%;
    max-width: 800px;
    margin: 100px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    
}
.robotForm{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.robotForm label {
    font-weight: bold;
    margin: 10px; 
    color: #555;
    white-space: nowrap; 
  
}

.robotForm input{
    margin-bottom: 10px;
    align-items: center;

}

.robotForm button {
  margin: 5px;
  padding: 10px 20px;
  background-color: rgb(183, 183, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
/* стили сработают при наведении мышкой на кнопку */
.robotForm button:hover {
    background-color: rgb(223, 223, 252);
  }
  
  /* стили сработают при нажатии на кнопку */
  .robotForm button:active {
    background-color: rgb(29, 29, 94);
    color: white;
  }




.formErrors {
    color: red;
}