.loginForm{
    width: 40%;
    max-width: 800px;
    margin: 100px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    
}
.robotForm{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.robotForm label {
    font-weight: bold;
    margin: 10px; 
    color: #555;
    white-space: nowrap; 
  
}

.robotForm input{
    margin-bottom: 10px;
    align-items: center;

}

.robotForm button {
  padding: 10px;
    width: 150px;
    height: 40px;
    background-color: rgb(70, 149, 73);
    border: none;
    border-radius: 6px; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}
/* стили сработают при наведении мышкой на кнопку */
.robotForm button:hover {
  background-color: rgba(76, 175, 79, 1);
  }
  
  /* стили сработают при нажатии на кнопку */
  .robotForm button:active {
    background-color: rgba(76, 175, 79, 1);
    
  }




.formErrors {
  color: red;
}
